<nav class="sidebar-nav">

    @for (menu of menuItems; track menu.id) {

        @if (menu.expandable) {

            <div class="menu-group">

                <button
                    type="button"
                    class="menu-item"
                    (click)="toggleMenu(menu)">

                    <div class="menu-left">

                        <mat-icon>{{ menu.icon }}</mat-icon>

                        @if (!isCollapsed()) {
                            <span>{{ menu.title }}</span>
                        }

                    </div>

                    @if (!isCollapsed()) {

                        <mat-icon class="expand-icon">
                            {{ menu.expanded ? 'expand_less' : 'expand_more' }}
                        </mat-icon>

                    }

                </button>

                @if(menu.expanded && !isCollapsed()){

                    <div class="submenu">

                        @for(child of menu.children; track child.id){

                            <a
                                class="submenu-item"
                                [routerLink]="child.route"
                                routerLinkActive="active-menu">

                                <mat-icon>{{ child.icon }}</mat-icon>

                                <span>{{ child.title }}</span>

                                @if(child.badge){

                                    <span
                                        class="menu-badge"
                                        [ngClass]="child.badgeColor">

                                        {{ child.badge }}

                                    </span>

                                }

                            </a>

                        }

                    </div>

                }

            </div>

        }

        @else {

            <a
                class="menu-item"
                [routerLink]="menu.route"
                routerLinkActive="active-menu">

                <div class="menu-left">

                    <mat-icon>{{ menu.icon }}</mat-icon>

                    @if(!isCollapsed()){

                        <span>{{ menu.title }}</span>

                    }

                </div>

                @if(menu.badge && !isCollapsed()){

                    <span
                        class="menu-badge"
                        [ngClass]="menu.badgeColor">

                        {{ menu.badge }}

                    </span>

                }

            </a>

        }

    }

</nav>