<header class="banking-header-panel">
    <!-- Left Side: Title and Subtext Description -->
    <div class="header-info-segment">
        <h1 class="header-title">Audit Logs</h1>
        <p class="header-subtitle">Monitor and review every action performed across the Banking Management System for
            security , compliance, and truobleshoting.</p>
    </div>

    <!-- Right Side: Exact Actions Row Layout -->
    <div class="header-actions-segment">
        <!-- <button mat-flat-button class="btn-banking-primary">
      <mat-icon class="icon-small">add</mat-icon>
      Create Role
    </button> -->

        <!-- <button mat-stroked-button class="btn-banking-secondary">
      <mat-icon class="icon-small">content_copy</mat-icon>
      Duplicate Role
    </button> -->
        <button mat-stroked-button class="btn-banking-secondary">
            <mat-icon class="icon-small">upload</mat-icon>
            Export Logs
        </button>
        <button mat-stroked-button class="btn-banking-secondary">
            <mat-icon class="icon-small">file_download</mat-icon>
              Download PDF
        </button>


         <button mat-stroked-button class="btn-banking-secondary">
            <mat-icon class="icon-small">archive</mat-icon>
              Archive Logs
        </button>
        <button mat-stroked-button class="btn-banking-secondary">
            <mat-icon class="icon-small">refresh</mat-icon>
            Refresh
        </button>
    </div>
</header>